@use '@styles/variables.scss' as *;

.content {
  .actions {
    gap: $spacing-3;
    button {
      width: 100%;
      margin-bottom: $spacing-3;
    }

    @media screen and (min-width: $breakpoint-sm) {
      display: flex;

      button {
        width: auto;
        margin-bottom: 0;
      }
    }
  }

  .error {
    margin-bottom: $spacing-4;
    p {
      font-size: $font-size-md;
      color: $error-color;
    }
  }
}
