@use '@styles/variables.scss' as *;

.content {
  .actions {
    display: flex;
    gap: $spacing-3;
  }

  .error {
    margin-bottom: $spacing-4;
    p {
      font-size: $font-size-md;
      color: $error-color;
    }
  }
}
