@use '@styles/variables.scss' as *;

.task {
  display: flex;
  align-items: center;
  padding: $spacing-3;
  border: solid 1px $background-primary;
  border-radius: $border-radius;

  > div:first-child {
    margin-right: $spacing-3;
  }
}
