@use '@styles/variables.scss' as *;

.task {
  display: flex;
  align-items: flex-start;
  padding: $spacing-2;
  border: solid 1px $background-primary;
  border-radius: $border-radius;
  cursor: grab;

  > div:first-child {
    margin-right: $spacing-2;
  }

  > div:nth-child(2) {
    display: flex;
    flex-direction: column;
    gap: $spacing-2;
    width: 100%;

    p {
      font-size: $font-size-md;
      margin-bottom: 0;
    }
    .tags {
      display: flex;
      flex-wrap: wrap;
      gap: $spacing-1;
      .tag {
        display: inline-block;
        padding: $spacing-1 $spacing-2;
        border-radius: $border-radius;
        font-size: 0.75rem;
        font-weight: $font-weight-medium;
        color: $text-light;
      }
    }
  }

  &:hover button {
    visibility: visible;
  }

  button {
    all: unset;
    cursor: pointer;
    transform: translateY(-25%);
    visibility: hidden;
    color: $text-secondary;
    &:hover {
      color: $text-primary;
    }
  }
}
