@use '@styles/variables.scss' as *;

.content {
  form > button {
    width: 100%;
    margin-bottom: $spacing-3;
    @media screen and (min-width: $breakpoint-sm) {
      width: auto;
      margin-bottom: 0;
    }
  }

  .error {
    margin-bottom: $spacing-4;
    p {
      font-size: $font-size-md;
      color: $error-color;
    }
  }
}
